{{ with .Site.GetPage "page" "about" }}
{{ partial "head.html" . }}
<div class="site-wrap">
  {{ partial "header.html" . }}
  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure">
      <div class="post-header mb2">
        <h1 class="py2">{{ .Title }}</h1>
      </div>
      <article class="post-content">
	{{ .Content }}
      </article>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
{{ end }}
